@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin:0;
    font-family: Roboto, sans-serif;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:  #1F2937;
    gap: 20px;
    padding: 10px;
}


.right-links{
    display:flex;
    gap: 16px;
    list-style-type: none;
}

.header a{
    color: white;
    text-decoration: none;
}


.first-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:  #1F2937;
    height: 400px;
    
}

.main{
    display: flex;
    flex-direction: column;
    color:white; 
    justify-content: flex-start;
    align-items: baseline;
    width: 300px;
    
}

button{
    width: 100px;
    border:none;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    background-color: #3882F6;
    color:white;
    font-size: large;
}
button:hover{
    background-color:#1a65dd ;
}

img{
    width: 400px;
}

.title{
   font-size: 48px;
   font-weight: extra; 
}

.second-header{
    display:flex;
    justify-content: center;
    padding: 40px;
    font-size: 36px;
}

.set{
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 15px;
    flex-wrap: wrap;
}

.card{
    max-width: 15%;
}

.card img{
    width: 200px;
    height: 200px;
}
.second-content{
    height: 500px;
}

.third-content{
    background: #E5E7Eb;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph{
    width:40%;
    padding: 20px;
    font-size: 36px;
    font-weight: 200;
}

.quote{
    display:flex;
    justify-content: flex-end;
}